[Unit]
Description=application
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/sh -c '/opt/app/venv/bin/python3 -B -u /opt/app/main.py > >(tee -a /var/log/app/app.log) 2> >(tee -a /var/log/app/error.log >&2) < /dev/null'

[Install]
WantedBy=multi-user.target
